<h1>Saiba as suas opções</h1>

<p>Saiba se vale a pena parcelar o seu Cartão de Crédito ou mudar de modalidade</p>

<%= form_tag '/result', method: 'get' do %>
    <%= label_tag(:invoice_value, "Valor da Fatura") %>
    <%= text_field_tag(:invoice_value) %>

    <%= label_tag(:invoice_due_date, "Mês da Fatura") %>
    <%= text_field_tag(:invoice_due_date) %>

    <%= label_tag(:minimum_charge, "Parcela Mínima") %>
    <%= text_field_tag(:minimum_charge) %>

    <%= submit_tag("Diga lá") %>
<% end %>

<div id="#suggestion" style="display: none">
    <p></p>
</div>

<table>
    <thead>
        <tr>
            <td>Modalidade</td>
            <td>Mínimo</td>
            <td>Máximo</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cartão de Crédito</td>
            <td>R$ 1.000,00</td>
            <td>R$ 5.000,00</td>
        </tr>
        <tr>
            <td>Cheque Especial</td>
            <td>R$ 500,00</td>
            <td>R$ 1.500,00</td>
        </tr>
        <tr>
            <td>Consignado</td>
            <td>R$ 100,00</td>
            <td>R$ 500,00</td>
        </tr>
    </tbody>
</table>