<!DOCTYPE html>
<html>
  <head>
    <title>DebtTransfer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="title"><h1>Saiba as suas opções</h1></div>
      <div class="subtitle"><h2>Saiba se vale a pena parcelar o seu Cartão de Crédito ou mudar de modalidade</h2></div>

      <div class="input-form">
        <%= form_tag '/result', method: 'get' do %>
          <table>
              <tr>
                <td>
                  <%= text_field_tag :invoice_value, nil, placeholder: "Valor da Fatura" %>
                </td>
                <td><%= text_field_tag :invoice_due_date, nil, placeholder: "Mês da Fatura" %></td>
              </tr>
              <tr>
                <td><%= text_field_tag :minimum_charge, nil, placeholder: "Parcela Mínima" %></td>
              </tr>
              <tr>
                <td><%= submit_tag "Diga lá" %></td>
              </tr>
          </table>
        <% end %>
      </div>

      <div class="price-table">
        <table>
            <thead>
                <tr>
                    <td>Modalidade</td>
                    <td>Mínimo</td>
                    <td>Máximo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cartão de Crédito</td>
                    <td>R$ 1.000,00</td>
                    <td>R$ 5.000,00</td>
                </tr>
                <tr>
                    <td>Cheque Especial</td>
                    <td>R$ 500,00</td>
                    <td>R$ 1.500,00</td>
                </tr>
                <tr>
                    <td>Consignado</td>
                    <td>R$ 100,00</td>
                    <td>R$ 500,00</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>